body, #wrap, #header, ul, #container{
    margin: 0;
    padding: 0;
}

#wrap, #container, #container{
    margin-top: 40px;
}

.header-list, .content-list, .big-pic, .small-pic, #footer{
    width: 1000px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

/* header */

.header-list{
    display: flex;
    justify-content: space-between;
}
.site-title{
    font-size: 40px;
    color: gray;
}
.site-link{
    display: flex;
    justify-content: space-around;
    width: 100px;
}
.link-tag{
    font-size: 25px;
    width: 20px;
}
.list-item{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}
.item-a{
    width: 100%;
}
.item{
    padding: 3px 0;
    text-align: center;
    font-size: 18px;
    background-color: rgba(169,169,169,.4);
}
.item-a:nth-child(-n+3){
    border-right: 1px solid rgba(169,169,169,.8);
}
.item-a:hover{
    background-color: rgb(100,100,100);
}
.item-bg{
    background-color: rgba(169,169,169,.8);
}


/* footer */

#footer{
    margin-top: 30px;
    height: 60px;
    background-color: rgba(169,169,169,.8);
    letter-spacing: .3rem;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
}

@media(max-width:999px){
    .header-list, .content-list, .big-pic, .small-pic, #footer{
        width: auto;
        margin: 0 auto;
    }
    .list-item{
        display: block;
        width: auto;
    }
    .item-a:nth-child(-n+3){
        border: 0;
    }
    .item:hover{
        background-color: rgb(100,100,100);
    }
    #footer{
        margin-top: 20px;
    }
}